body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    background: linear-gradient(135deg,#72edf2 10%,#515);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bmi-card{
    background: 255,255,255,0.2;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(40,40,135,0.38);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    max-width: 400px;
    width: 100%;
    color:aquamarine
}

.bmi-card h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color:rgb(0, 0, 0)
}
.input-group{
    margin: bottom 15px;
}
.input-group label{
display: block;
margin-bottom: 5px;
color: rgb(0, 0, 0);
font-size: 1.2rem;
}

.input-group input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    background: rgba(255,255,255,0.7);
    outline: none;
}
.input-group input::placeholder{
color:#000000;
}
.btn-calculator{
    margin-top: 20px;
    background: linear-gradient((90deg,#7d746a,#80636d));
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
   
}
.btn-calculator:hover{
    background: linear-gradient(90deg,#ffffff,#fbfbfb);
}
.result{
    margin: 30px;
}
.result h3{
    font-size: 1.5rem;
    margin: 10px 0;
}
.result h4{
    font-size: 1.2rem;
    color:aquamarine
}